.parse-stat {
	color: #DDDDDD;
}
.parse-stat__bg, .parse-stat__item {

}
.parse-stat__bg {
	height: 5px;
	background-color: rgba(28,122,39,1);
	/*background: rgba(46,204,64,1);
	background: -webkit-linear-gradient(top, rgba(46,204,64,1) 0%, rgba(28,122,39,1) 100%);
	background: linear-gradient(to bottom, rgba(46,204,64,1) 0%, rgba(28,122,39,1) 100%);*/
}
.parse-stat__item {
	height: 100%;
	background-color: #01FF70;
}